@use "sass:map";
@use "../abstracts/index" as v;

.l-alerts {
  display: flex;
  flex-direction: column;
  gap: v.$spacer-sm;
  justify-content: center;
  align-items: start;
  padding: v.$spacer-lg;
}

.alert {
  padding: v.$spacer;
  width: 100%;
  @each $name, $theme in v.$alerts {
    &--#{$name} {
      background-color: map.get($theme, bg);
      border-left: 4px solid map.get($theme, text);
      color: map.get($theme, text);
    }
  }
}
