@use "../abstracts/index" as v;
@use "../mixins/index" as m;

.card {
  @include m.card;
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: v.$spacer-sm;
  }
  &__badge {
    color: v.$color-primary;
    background-color: v.tint(v.$color-primary, 0.15);
    padding: 4px;
    border-radius: v.$border-radius;
  }
}
