// Colors
$color-primary: #3b82f6;
$color-secondary: #ef4444;
$color-bg: #ffffff;
$color-text: #000000;

// Typo
$primary-font: 'DM Sans', sans-serif;
$size-title: 2rem;
$size-content: 1rem;

// Spacings
$spacer: 1rem;
$spacer-sm: 0.5rem;
$spacer-lg: 2rem;